h3 {
    color: brown;
    border: medium solid;
}


h1 {
    color: purple;
}

#header1 {
    color: green;
}

.nav1{
    margin: 2px;
    color: red;
}
 
p.nav2{
    color: pink;
}

#descendant h1 {
    color: blue;
    text-decoration: line-through;
    text-decoration-style: double;
}

:hover {
    color: orange;
}

/* modify between inline or block elements */
#middle {
    display:inline;
}